<div ng-app='char'>
  <%= content_tag :div, id: 'discussions-list',
        'ng-controller' => 'DiscussionListCtrl',
        data: { discussions: @blueprint.discussions.to_json(include: { user: {only: [:id , :name]} }) } do %>
    <h2><%= t '.discussions', count: '5' %></h2>
    <div>
      <div ng-repeat="discussion in discussions">
        {{discussion.body}}
        <div class='discussion-footer'>
          <span ng-show='discussion.temp'>
            <i class='icon-spinner icon-spin'></i> <%= t '.working' %>|
          </span>
          <i class='icon-user'></i> <a href='/users/{{discussion.user.id}}'>{{discussion.user.name}}</a> |
          <time datetime='{{discussion.created_at}}'>{{discussion.created_at | timeAgo | persianNum }}</time>
        </div>
        <hr />
      </div> <%# ng-repeat %>
    </div>
    <div>
      <%= simple_form_for [@blueprint, @blueprint.discussions.new], html: { 'ng-submit' => "addDiscussion()" }, url: '' do |f| %>
        <%= f.input :body, input_html: {class: 'span4', rows: '4', 'ng-model' => 'body' },
          wrapper_html: { class: '{{wrapperClass.body}}' }, hint: '{{errors.body[0]}}'%>
        <%= f.button :submit, id: 'discussion-submit' %>
      <% end %>
    </div>
  <% end %>
</div>
