<%= content_tag_for :article, blueprint.discussions  do |d| %>
  <%= content_tag :div, d.body %>
  <div class='discussion-footer'> <i class='icon-user'></i> <%= link_to d.user.name, d.user %> | <%= content_tag :abbr, "#{time_ago_in_words d.created_at} پیش ", title: l(d.created_at, format: :short) %></div>
  <hr />
<% end %>
<div>
  <%= simple_form_for [blueprint, blueprint.discussions.new], remote: true, html: {"data-type" => :json} do |f| %>
    <%= f.input :body %>
    <%= f.button :submit, data: {'loading-text' => t('.sending') } %>
  <% end %> 
</div>
