<%= simple_form_for @blueprint, :html => { :class => 'form-vertical', 'ng-controller' => 'BlueprintEditorPrevCtrl' } do |f| %>
  <div class="row">
    <div class='form-inputs span9'>
      <%= f.input :title, input_html: {'ng-model' => 'blueprint.title', 'ng-initial' => @blueprint.title }%>
      <%= f.input :status, collection: collectify_statuses(Rails.configuration.blueprint_status) %>
      <%= markdown_help %>
      <%= f.input :description, input_html: { class: 'input-block-level wysiwym', rows: 8,
        'ng-model' => 'blueprint.description', 'ng-initial' => @blueprint.description } %>
      </div>
      <div class="form-inputs span3">
        <%= f.association :assignees, as: :check_boxes, collection: User.editorial %>
        <%= f.input :due_date, as: :date %>
      </div>
    </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                blueprints_path, :class => 'btn' %>
  </div>
  <div class='well preview'>
    <%= content_tag :h1 do %>
      {{blueprint.title}} <small><%= @blueprint.creator.name %></small>
    <% end %>
    <%= content_tag :div, '', 'ng-bind-html-unsafe' => 'blueprint.description | markdown' %>
  </div>
<% end %>
