  <h1><%= t '.sign_up' %></h1>

  <%= simple_form_for @user do |f| %>
    <div class='form-inputs'>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password %>
    </div>
    <div class='form-actions'>
      <%= f.button :submit %> | <%= link_to t('.sign_in'), sign_in_path %>
    </div>

  <% end %>
