<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<p><strong><%= t '.originator' %>:</strong> <%= @revision.originator ? User.find(@revision.originator).name : '?' %></p>
<p><strong><%= t '.event' %>:</strong> <%= @revision.event %></p>
<p><strong><%= t '.created_at' %></strong> <%= l @revision.created_at %></p>
<% if @revision.changeset %>
  <% if @revision.changeset.keys.include? 'title' %>
    <%= show_diff @revision.changeset['title'][0], @revision.changeset['title'][1] %>
  <% end %>

  <% if @revision.changeset.keys.include? 'body' %>
    <%= show_diff @revision.changeset['body'][0], @revision.changeset['body'][1] %>
  <% end %>
<% end %>
