<div class="page-header">
  <h1><%= t '.title_html', title: @post.title , terminator: terminator_name(@revision) %></h1>
</div>
<div class='alert alert-block alert-info'>
  <%= content_tag :p, t('.sentence', terminator: terminator_name(@revision),
          event: event_name(@revision),
          created_at: l(@revision.created_at, format: :short))%>
  <%= previous_next_btn(@revision) %>
</div>
<h2><%= diff(@revision, :title) %></h2>

<%= content_tag :div, diff(@revision, :body), class: 'well' %>
