<h1>Dashboard</h1>

<div class='span8'>
  <%= render @activities %>
</div>

<div class='span4'>
  <div class='thumbnail'>
    <%= gravatar user: current_user, size: 370 %>
    <div class='caption'>
      <h3><%= current_user.name %> <%= role_label(current_user)%></h3>

      <%= link_to t('helpers.links.edit_html'), edit_user_path(current_user) %>

      <ul class='unstyled'>
        <li><%= User.human_attribute_name(:created_at) %>: <%= time_ago_in_words(current_user.created_at) %></li>
        <li><%= User.human_attribute_name(:last_activity) %>: <%= latest_activity(current_user) %></li>
      </ul>
    </div>
  </div>
  <hr />
  <%= render @blueprints %>
  <hr />
  <%= render @unassigned_blueprints %>
</div> 


