<%- model_class = Post -%>
<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>
<%= content_tag_for :div, @posts do |post|  %>
    <h2><%= link_to post.title, post_path(post) %> <small><%= post.user.try(:name) %></small></h2>

    <%= content_tag :div, post.body, data: { markdown: true } %>

    <%= post_footer(post) %>
<% end %>

<%= link_to t("helpers.links.new_html"), new_post_path, :class => 'btn btn-primary' %>
