<div class="media activity activity-<%= activity.action.gsub ':', '-' %>">
  <div class='pull-right'>
    <%= image_tag activity.actor.gravatar_url(default: 'identicon', size: 55), class: 'img-rounded media-object' %>
  </div>
  <div class='media-body'>
    <div>
      <%= activity_actor_name(activity.actor, link: true) %>
      <%= activity_translation activity %>
    </div>
    <div>
      <i class='icon-time'></i> <%= time_ago_in_words(activity.created_at) %>
    </div>
  </div>
</div>
