<div class="media activity activity-<%= activity.action.gsub ':', '-' %>">
  <div class='pull-right'>
    <%= gravatar(user: activity.actor, size: 55) %>
  </div>
  <div class='media-body'>
    <div>
      <%= activity_actor_name(activity.actor, link: true) %>
      <%= activity_translation activity %>
    </div>
    <div>
      <i class='icon-time'></i> <%= time_ago_in_words(activity.created_at) %>
    </div>
  </div>
</div>
